/*  Base    */
:root {
  --emperor: hsl(260, 24%, 14%, 1.0);
  --walnut: hsl(11, 50%, 17%, 1.0);
  --font-family-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
background-color: hsl(11, 50%, 17%, 1.0);
color: linen;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
/*  Layout  */
/*  prefix: grid-   */

.grid-state {
grid-area: state;
}

.grid-flash {
grid-area: flash;
}

.grid-blank {
grid-area: blank;
}

.grid-focus {
grid-area: focus;
}

.grid-spare {
grid-area: spare;
}

@media (orientation: portrait) {
body {
display: grid;
grid-template-areas:
"flash"
"flash"
"study"
"study"
"study"
"focus"
"state";
justify-items: center;
}

.grid-blank {
display: none;
}

.grid-spare {
display: none;
}

}

@media (orientation: landscape) {

body {
display: grid;
grid-template-columns: 1fr 3fr 2fr 1fr;
grid-template-areas:
"blank  flash   flash   spare"
"blank  flash   flash   spare"
"blank  study   state   spare"
"blank  study   focus   spare"
"blank  study   focus   spare"
"blank  study   focus   spare";
}

}

/*  Module  */
/*  prefix: mod-    */

ul.mod-dialogue {
padding: 0.5em;
}

ul.mod-dialogue li {
animation-name: fadeinout;
animation-fill-mode: both;
list-style-type: none;
padding-bottom: 1.3em;
}

ul.mod-dialogue li:last-of-type {
animation-name: fadein;
}

dl.mod-stats {
display: flex;
font-size: 0.7em;
font-weight: lighter;
padding: 1rem;
}

dl.mod-stats dt:after {
content: ":";
}

dl.mod-stats dd {
font-family: var(--font-family-monospace);
font-weight: bold;
margin: 1rem;
}

/*  State   */

@keyframes fadein {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    82% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}


/*  Theme   */

main {
    padding: 0.5rem;
}

.persona {
color: grey;
font-family: var(--font-family-sans-serif);
font-size: 1.1em;
}

header.persona:after{
content: ":";
}

p.speech {
color: whitesmoke;
font-family: var(--font-family-serif);
font-size: 1.3em;
}

nav ul li{
list-style-type: none;
}

nav a {
background-color: hsl(0, 0%, 57%, 1.0);
color: hsl(0, 50%, 17%, 1.0);
font-style: bold;
margin-bottom: 0.2em;
margin-top: 0.2em;
padding: 0.4em;
text-align: center;
text-decoration: none;
width: 4rem;
}

nav button {
border: 2px solid transparent;
color: hsl(0, 50%, 17%, 1.0);
font-size: 1em;
font-weight: normal;
margin-bottom: 0.2em;
margin-top: 0.2em;
padding: 0.4em;
text-align: center;
width: 24rem;
}

nav button:hover {
border: 2px solid white;
color: hsl(0, 50%, 100%, 1.0);
}
